@import url("https://fonts.googleapis.com/css?family=Montserrat:100,300,500,700,900");
* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}
*::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  background: #797979;
  color: #797979;
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
html.ready {
  background: #fff;
}
html.ready .content {
  opacity: 1;
}

.content {
  opacity: 0;
  overflow: hidden;
}

.top {
  display: block;
  padding: 0;
  background: #fff;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 99;
}

.sections-wrap {
  display: block;
  position: relative;
  margin: auto;
  max-width: 900px;
  width: 100%;
}

.section {
  display: block;
  position: relative;
  height: 800px;
  background: #fff;
}
.section.s1 {
  margin-top: 50px;
  padding-top: 50px;
}
.section.s1 h1 {
  max-width: 80%;
  text-align: center;
  font-size: 40px;
  margin: auto;
  margin-bottom: 30px;
}
@media screen and (max-width: 720px) {
  .section.s1 h1 {
    font-size: 35px;
  }
}
@media screen and (max-width: 630px) {
  .section.s1 h1 {
    font-size: 30px;
  }
}
@media screen and (max-width: 540px) {
  .section.s1 h1 {
    font-size: 25px;
  }
}
@media screen and (max-width: 450px) {
  .section.s1 h1 {
    font-size: 20px;
  }
}

.back {
  display: block;
  position: absolute;
  z-index: 5;
}
.back.b1 {
  top: 400px;
  left: 0vw;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 480px 100vw 0 0;
  border-color: #fff transparent transparent transparent;
}
.back.b2 {
  top: 400px;
  left: 0vw;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 1600px 100vw 1200px 0;
  border-color: #7cc754 transparent #7cc754 transparent;
}

.bottom {
  padding: 10px;
  padding-bottom: 150px;
  text-align: center;
}
.bottom input {
  margin-top: 30px;
  border: 1px solid #7cc754;
  padding: 10px 30px;
  outline: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.bottom .button {
  margin-top: 30px;
  font-size: 28px;
}

.phone {
  display: block;
  opacity: 0;
  position: absolute;
  z-index: 15;
  top: 30px;
}
.phone.p1 {
  background: url("../img/app1.png") center center no-repeat;
  width: 382px;
  height: 733px;
  left: 0;
}
.phone.p2 {
  background: url("../img/app2.png") center center no-repeat;
  width: 381px;
  height: 742px;
  left: initial;
  right: 0;
}
.phone.p3 {
  background: url("../img/app3.png") center center no-repeat;
  width: 373px;
  height: 736px;
  left: initial;
  right: 0;
}

.s1.visible .p1 {
  opacity: 1;
  top: 250px;
  left: calc(50% - 190px - 50px);
  transform: translateZ(0) rotate(-16deg) scale(0.7);
  -webkit-transform: translateZ(0) rotate(-16deg) scale(0.7);
  -moz-transform: translateZ(0) rotate(-16deg) scale(0.7);
  -ms-transform: translateZ(0) rotate(-16deg) scale(0.7);
  -o-transform: translateZ(0) rotate(-16deg) scale(0.7);
}
.s1.visible .p3 {
  opacity: 1;
  top: 190px;
  right: calc(50% - 190px - 98px);
  transform: translateZ(0) rotate(20deg) scale(0.7);
  -webkit-transform: translateZ(0) rotate(20deg) scale(0.7);
  -moz-transform: translateZ(0) rotate(20deg) scale(0.7);
  -ms-transform: translateZ(0) rotate(20deg) scale(0.7);
  -o-transform: translateZ(0) rotate(20deg) scale(0.7);
}

.s2.visible .p3 {
  opacity: 1;
  top: 30px;
  right: 0;
  transform: translateZ(0) rotate(0deg) scale(0.7);
  -webkit-transform: translateZ(0) rotate(0deg) scale(0.7);
  -moz-transform: translateZ(0) rotate(0deg) scale(0.7);
  -ms-transform: translateZ(0) rotate(0deg) scale(0.7);
  -o-transform: translateZ(0) rotate(0deg) scale(0.7);
}

.s3.visible .p1 {
  opacity: 1;
  top: 30px;
  left: 0;
  transform: translateZ(0) rotate(0deg) scale(0.7);
  -webkit-transform: translateZ(0) rotate(0deg) scale(0.7);
  -moz-transform: translateZ(0) rotate(0deg) scale(0.7);
  -ms-transform: translateZ(0) rotate(0deg) scale(0.7);
  -o-transform: translateZ(0) rotate(0deg) scale(0.7);
}

.s4.visible .p2 {
  opacity: 1;
  top: 30px;
  left: initial;
  right: 0;
  transform: translateZ(0) rotate(0deg) scale(0.7);
  -webkit-transform: translateZ(0) rotate(0deg) scale(0.7);
  -moz-transform: translateZ(0) rotate(0deg) scale(0.7);
  -ms-transform: translateZ(0) rotate(0deg) scale(0.7);
  -o-transform: translateZ(0) rotate(0deg) scale(0.7);
}

.top {
  display: flex;
  justify-content: space-between;
}

.button {
  cursor: pointer;
  display: inline-block;
  text-shadow: none !important;
  text-transform: uppercase;
  width: fit-content;
  margin-top: 50px;
  font-weight: 500;
  padding: 15px 30px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-border-radius: 5px;
}
.button.w {
  background: #fff;
  color: #7cc754;
}
.button.g {
  background: #7cc754;
  color: #fff;
}

.text {
  position: absolute;
  top: 0px;
  margin: 30px;
  z-index: 14;
  max-width: 50%;
  font-size: 30px;
  padding-top: 100px;
}
.text h2 {
  font-size: 40px;
  text-decoration: underline;
}
.text p {
  margin-top: 50px;
}
.text.left {
  color: #fff;
}
.text.right {
  color: #797979;
  text-align: right;
  right: 0;
}
@media screen and (max-width: 740px) {
  .text {
    background: #7cc754;
    z-index: 16;
    max-width: 100%;
    padding: 30px;
    font-size: 20px;
    margin: 0;
    color: #fff !important;
  }
  .text h2 {
    font-size: 30px;
  }
  .text p {
    margin-top: 20px;
  }
  .text .button.g {
    margin-top: 20px;
    background: #fff;
    color: #7cc754;
  }
}

.logo {
  cursor: default;
  padding: 10px;
  margin: 10px;
  color: #fff;
  text-transform: uppercase;
  background: #7cc754;
  border-radius: 5px;
  font-weight: 500;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.links {
  display: flex;
  justify-content: space-between;
}
.links > div {
  color: #797979;
  font-weight: 500;
  text-transform: uppercase;
  padding: 10px 5px;
  margin: 10px 5px;
  cursor: pointer;
}
.links > div.current {
  color: #7cc754;
  text-decoration: underline;
  pointer-events: none;
}
.links > div.contact {
  padding: 10px;
  color: #fff;
  background: #7cc754;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
@media screen and (max-width: 630px) {
  .links > div.contact {
    display: none;
  }
}

.apps {
  max-width: 80%;
  display: flex;
  justify-content: space-between;
  margin: auto;
}
.apps .apple {
  width: calc(521px / 2);
  height: calc(212px / 2);
  background: url("../img/apple.png") center center no-repeat;
  background-size: contain;
  cursor: pointer;
}
.apps .google {
  width: calc(477px / 2);
  height: calc(212px / 2);
  background: url("../img/google.png") center center no-repeat;
  background-size: contain;
  cursor: pointer;
}

.menu,
.access,
.subscribe {
  display: none;
}

html.mobile .apps,
html.mobile .back,
html.mobile .s1 .p3,
html.mobile .bottom > input,
html.mobile .bottom > br,
html.mobile .bottom > .button,
html.mobile .links {
  display: none;
}
html.mobile .menu,
html.mobile .access,
html.mobile .subscribe {
  display: block;
}
html.mobile .section {
  height: 812px;
  min-height: 100vh;
}
html.mobile .section.s1 {
  margin-top: 0;
  padding-top: 0;
}
html.mobile .section.s1 h1 {
  margin-top: -140px;
  text-transform: uppercase;
  text-align: left;
  font-size: 25px;
}
html.mobile .section .phone {
  left: calc(50% - 190px) !important;
  position: relative;
  top: -110px;
}
html.mobile .s1 .p1 {
  top: -50px;
  transform: translateZ(0) rotate(-12deg) scale(0.6);
  -webkit-transform: translateZ(0) rotate(-12deg) scale(0.6);
  -moz-transform: translateZ(0) rotate(-12deg) scale(0.6);
  -ms-transform: translateZ(0) rotate(-12deg) scale(0.6);
  -o-transform: translateZ(0) rotate(-12deg) scale(0.6);
}
html.mobile .section .text {
  position: relative;
  text-align: center;
}
html.mobile .top {
  background: #7cc754;
}
html.mobile .top .menu {
  width: 37px;
  margin: 20px;
  margin-bottom: 15px;
  cursor: pointer;
}
html.mobile .top .menu i {
  display: block;
  height: 4px;
  margin-bottom: 4px;
  background: #fff;
}
html.mobile .top .logo {
  margin: 10px 10px 0 10px;
  padding-top: 6px;
  font-size: 24px;
}
html.mobile .top .access {
  cursor: pointer;
  margin-top: 10px;
  margin-right: 20px;
  line-height: 1;
  padding: 10px;
  background: #F46d6d;
  height: fit-content;
  color: #fff;
  text-transform: uppercase;
  font-size: 9px;
  text-align: center;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
html.mobile .s1,
html.mobile .s3,
html.mobile .bottom {
  background: #7cc754;
  color: #fff;
}
html.mobile .s1 .text,
html.mobile .s3 .text,
html.mobile .bottom .text {
  background: #7cc754;
  color: #fff;
}
html.mobile .s2,
html.mobile .s4 {
  background: #fff;
  color: #797979;
}
html.mobile .s2 .text,
html.mobile .s4 .text {
  background: #fff;
  color: #797979;
}